body{
    background: salmon;
    display: flex;
    justify-content: center;
}h1{
    color: firebrick;
    font-size: xxx-large;
    text-align: center;
}.bloco{
    background: lightpink;
    border-radius: 10%;
    margin-top: 100px;
    width: 2000px;
    height: 1000px;
    display: flex;
}.texto{
    color: crimson;
    font-size: x-large;
    width: 1300px;
    height: 500px;
    margin-top: 230px;
    margin-left: 90px;
}img{
    width: 500px;
    height: 500px;
    margin-top: 240px;
    margin-left: 30px;
}